.reviews {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #283645;
}

.reviews__author-name {
  display: block;
  margin-bottom: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.reviews__text {
  margin: 0;
}
